<h2>Listado de Cabeceras</h2>

<table *ngIf="listadoCabecerasWS.length > 0">
  <thead class="tituloTabla">
    <tr>
      <th>Ticket Int</th>
      <th>Número de Ticket</th>
      <!-- Mostramos la fecha de emisión como un timestamp -->
      <th>Fecha de Emisión (Timestamp)</th>
      <th>Costo Total</th>
      <th>Estado</th>
      <th>Propietario</th>
      <th>Eliminar</th>
      <th>Actualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cabecera of listadoCabecerasWS">
      <td>{{ cabecera.ticketInt }}</td>
      <td>{{ cabecera.numTicket }}</td>
      <!-- Mostramos la fecha de emisión como un timestamp -->
      <td>{{ cabecera.fechaEmision.getTime() }}</td>
      <td>{{ cabecera.costoTotal }}</td>
      <td>{{ cabecera.estado }}</td>
      <td>{{ cabecera.propietarioCabecera.cedula }}</td>
      <td><a class="eliminar" (click)="eliminar(cabecera.ticketInt)">Eliminar</a></td>
      <td><a class="actualizar" (click)="editar(cabecera)">Actualizar</a></td>
    </tr>
  </tbody>
</table>

<div *ngIf="listadoCabecerasWS.length === 0">
  <p>No se encontraron cabeceras.</p>
</div>

<br><br>
<button (click)="nuevo()">Ingresar nueva cabecera</button>
