<header>
    <nav>
      <div class="logo">
        <img src="assets/LOGO_UPS.png" alt="Logo">
      </div>

      <h1>       PARQUEADERO JOSEPH</h1>
      <ul class="menu">
        <li><a routerLink="pages/inicio">Inicio</a></li>
        <li><a routerLink="pages/clientes">Personas</a></li>
        <li><a routerLink="pages/vehiculos">Vehiculos</a></li>
        <li><a routerLink="pages/espacios">Espacios</a></li>
        <li><a routerLink="pages/facturas">Facturar</a></li>
        <li><a routerLink="pages/detalles">Registros</a></li>

      </ul>
    </nav>
  </header>