<h2>Listado de Cabeceras</h2>

<table>
  <thead class="tituloTabla" *ngIf="listadoCabecerasWS.length !== 0">
    <tr>
      <th>Ticket</th>
      <th>Fecha</th>
      <th>Total</th>
      <!-- Agrega aquí los campos adicionales que desees mostrar para la Cabecera -->
      <th>Eliminar</th>
      <th>Actualizar</th>
      <th>Ver Detalles</th>
    </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let cabecera of listadoCabecerasWS | async">
      <td>{{ cabecera.ticketInt }}</td>
      <td>{{ cabecera.fecha | date }}</td>
      <td>{{ cabecera.total }}</td>
      <!-- Agrega aquí los campos adicionales que desees mostrar para la Cabecera -->
      <td><a class="eliminar" (click)="eliminarCabecera(cabecera.ticketInt)">Eliminar</a></td>
      <td><a class="actualizar" (click)="editarCabecera(cabecera)">Actualizar</a></td>
      <td><a class="ver-detalles" (click)="toggleDetalles(cabecera)">Ver Detalles</a></td>
    </tr>
    <tr *ngIf="listadoCabecerasWS.length === 0">
      <td colspan="6">No hay cabeceras disponibles.</td>
    </tr>
  </tbody>
</table>

<br><br>
<button (click)="nuevoCabecera()">Ingresar nueva cabecera</button>

<h2>Listado de Detalles</h2>

<table>
  <thead class="tituloTabla" *ngIf="detallesVisible && listadoDetallesWS.length !== 0">
    <tr>
      <th>Detalle ID</th>
      <th>Fecha Ingreso</th>
      <th>Fecha Salida</th>
      <th>Costo</th>
      <!-- Agrega aquí los campos adicionales que desees mostrar para el Detalle -->
    </tr>
  </thead>
  <tbody *ngIf="detallesVisible"> 
    <tr *ngFor="let detalle of listadoDetallesWS | async">
      <td>{{ detalle.detalleId }}</td>
      <td>{{ detalle.fechaIngreso | date }}</td>
      <td>{{ detalle.fechaSalida | date }}</td>
      <td>{{ detalle.costo }}</td>
      <!-- Agrega aquí los campos adicionales que desees mostrar para el Detalle -->
    </tr>
    <tr *ngIf="listadoDetallesWS.length === 0">
      <td colspan="4">No hay detalles disponibles.</td>
    </tr>
  </tbody>
</table>

<br><br>
<button (click)="nuevoDetalle()">Ingresar nuevo detalle</button>
